#nchu{
    color: rgb(241, 9, 9);
    font-size:60px;
    background-color: rgb(252, 248, 5);
    
}


#dog{
    color: rgb(241, 9, 9);
    font-size:40px;
    background-color: rgb(252, 248, 5);
    padding: 20px;
    border: 20px;
    margin: 20px;
    margin-right: 200px;

}